body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(54, 54, 54);
  color: lightgray;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 4rem;
  background-color: rgb(27, 27, 27);
}
.logo {
  cursor: pointer;
  text-decoration: none;
  color: goldenrod;
}
.header button {
  font-size: 2rem;
  cursor: pointer;
}
.account-buttons {
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}
.account-signed-in {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.account-signed-in img {
  width: 50px;
  border-radius: 50%;
}
.chat-container {
  display: flex;
  justify-content: center;
}
.chat-log {
  width: 50%;
  height: 80vh;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.chat-log input {
  width: 100%;
  font-size: 2rem;
}
.chat-log form {
  display: flex;
  width: 100%;
}
.send-btn {
  font-size: 2rem;
}
.chat-log ul {
  align-self: self-start;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow: auto;
  padding: 0px;
  width: 100%;
}
.msg-container {
  background-color: rgb(29, 141, 179);
  width: fit-content;
  padding: 3px 10px;
  border-radius: 5px;
  max-width: 95%;
}
.msg-container p {
  margin: 2px;
}
.msg-author {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.msg-author img {
  width: 30px;
  border-radius: 50%;
}
.msg-msg {
  text-indent: 1rem;
}
.active {
  background-color: rgb(126, 78, 204);
  align-self: flex-end;
}

@media only screen and (max-width: 600px) {
  .chat-log {
    width: 95%;
    height: 84vh;
  }
  .header {
    font-size: 1.2rem;
  }
  .header button {
    font-size: 1.2rem;
  }
}
