@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  background-color: rgb(64, 64, 64);
  color: lightgray;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  font-size: 1.5rem;
  background-color: rgb(27, 27, 27);
}
h1 {
  color: goldenrod;
}
.header button {
  font-size: 2rem;
  cursor: pointer;
  height: fit-content;
  align-self: center;
}
.account-buttons {
  display: flex;
  font-size: 1.5rem;
  gap: 1rem;
}
.account-signed-in {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.account-signed-in img {
  width: 50px;
  border-radius: 50%;
}
.sign-in-prompt {
  margin: 10px 5px;
}
main {
  display: flex;
}
.user-list-container {
  flex: 1;
  border: 1px solid black;
  font-size: 1.2rem;
  margin-left: 10%;
}
.user-list-container ul {
  list-style-type: none;
  overflow: auto;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.user-list-container li {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  padding: 5px 10px;
  background-color: rgb(51, 51, 51);
  cursor: pointer;
}
.user-list-container img {
  width: 50px;
  height: 50px;
}
.user-list-container .active-user {
  background-color: rgb(36, 36, 36);
}
.user-list-container .selected-user {
  background-color: rgb(36, 36, 36);
}
.chat-container {
  display: flex;
  flex: 3;
  justify-content: flex-start;
}
.chat-log {
  width: 80%;
  height: 80vh;
  border: 1px solid black;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
.chat-log input {
  width: 100%;
  font-size: 2rem;
}
.chat-log form {
  display: flex;
  width: 100%;
}
.send-btn {
  font-size: 2rem;
  cursor: pointer;
}
.chat-log ul {
  align-self: self-start;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  overflow: auto;
  padding: 0px;
  width: 100%;
}
.msg-container {
  background-color: rgb(29, 141, 179);
  width: fit-content;
  padding: 3px 10px;
  border-radius: 5px;
  max-width: 95%;
  margin-right: 2px;
  margin-left: 2px;
}
.msg-container p {
  margin: 2px;
}
.msg-author {
  font-weight: bold;
  font-size: 1.2rem;
  color: black;
  display: flex;
  gap: 0.3rem;
  align-items: center;
}
.msg-author img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.msg-msg {
  text-indent: 1rem;
}
.active {
  background-color: rgb(126, 78, 204);
  align-self: flex-end;
}
.show-users-button {
  display: none;
  background-color: rgb(27, 27, 27);
  color: white;
  box-shadow: none;
  border: none;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 1rem;
    padding: 5px;
    margin-bottom: 5px;
  }
  .header button {
    font-size: 1.1rem;
  }
  .account-buttons {
    gap: 0.8rem;
  }
  .account-signed-in {
    gap: 0.5rem;
    font-size: 1rem;
  }
  .user-list-container {
    margin-left: 0;
    display: none;
    flex: 2;
  }
  .user-list-container li {
    font-size: 0.9rem;
    padding: 2px;
  }
  .user-list-container img {
    width: 40px;
    height: 40px;
  }
  .show-users-button {
    display: block;
    cursor: pointer;
  }
  .expanded {
    display: block;
  }
  .chat-log {
    width: 100%;
    height: 84vh;
  }
  .chat-log input {
    font-size: 1.5rem;
  }
  .send-btn {
    font-size: 1.5rem;
  }
}
